In [ ]:
#IMPORTING LIBRARIES FOR CONNECTING PYTHON
import mysql.connector

In [ ]:
#CONNECTING MYSQL XAMPP WITH PYTHON
connection= mysql.connector.connect(
 host= "localhost",
 user= "root",
 password="",
 database="transaction_project"
 )
print(connection)
mycursor = connection.cursor()

<mysql.connector.connection.MySQLConnection object at 0x000002989FDD4EF0>

In [ ]:
#VIEWING ALL TABLE NAME
tables = mycursor.fetchall()

print("Tables in 'transaction_project' database:")
for table in tables:
    print(table[0])

In [ ]:
#IMPORT PANDAS FOR CONVERTING CSV FILE 
import pandas as pd

In [ ]:
#JOINING TRANSACTION AND USER TABLE
query_1 = """
CREATE TABLE IF NOT EXISTS joined_1 AS
SELECT t.TransactionId, t.UserId, t.VisitYear, t.VisitMonth, t.VisitMode, t.AttractionId, t.Rating,
       u.ContenentId, u.RegionId, u.CountryId, u.CityId
FROM transaction t
INNER JOIN user u ON t.UserId = u.UserId;
"""

mycursor.execute(query_1)
connection.commit()
print("Step 1: Created table `joined_1` (transaction + user)")

Step 1: Created table `joined_1` (transaction + user)

In [ ]:
#JOINING JOINED_1 AND CONTENENT TABLE
query_2 = """
CREATE TABLE IF NOT EXISTS joined_2 AS
SELECT j1.*, c.Contenent
FROM joined_1 j1
INNER JOIN continent c ON j1.ContenentId = c.ContenentId;
"""

mycursor.execute(query_2)
connection.commit()
print("Step 2: Created table `joined_2` (joined_1 + continent)")

Step 2: Created table `joined_2` (joined_1 + continent)

In [ ]:
#JOINING JOINED_2 AND REGION TABLE
query_3 = """
CREATE TABLE IF NOT EXISTS joined_3 AS
SELECT j2.*, r.Region
FROM joined_2 j2
INNER JOIN region r ON j2.RegionId = r.RegionId;
"""

mycursor.execute(query_3)
connection.commit()
print("Step 3: Created table `joined_3` (joined_2 + region)")

Step 3: Created table `joined_3` (joined_2 + region)

In [ ]:
##JOINING JOINED_3 AND COUNTRY TABLE
query_4 = """
CREATE TABLE IF NOT EXISTS joined_4 AS
SELECT j3.*, co.Country
FROM joined_3 j3
INNER JOIN country co ON j3.CountryId = co.CountryId;
"""

mycursor.execute(query_4)
connection.commit()
print("Step 4: Created table `joined_4` (joined_3 + country)")

Step 4: Created table `joined_4` (joined_3 + country)

In [ ]:
#JOINING JOINED_4 CITY TABLE
query_5 = """
CREATE TABLE IF NOT EXISTS joined_5 AS
SELECT j4.*, ci.CityName
FROM joined_4 j4
INNER JOIN city ci ON j4.CityId = ci.CityId;
"""

mycursor.execute(query_5)
connection.commit()
print("Step 5: Created table `joined_5` (joined_4 + city)")

Step 5: Created table `joined_5` (joined_4 + city)

In [ ]:
#JOINING JOINED_5 AND ATTRACTION TABLE
query_6 = """
CREATE TABLE IF NOT EXISTS joined_6 AS
SELECT j5.*, it.Attraction, it.AttractionAddress, it.AttractionTypeId
FROM joined_5 j5
INNER JOIN item it ON j5.AttractionId = it.AttractionId;
"""

mycursor.execute(query_6)
connection.commit()
print("Step 6: Created table `joined_6` (joined_5 + item/attraction)")

Step 6: Created table `joined_6` (joined_5 + item/attraction)

In [ ]:
#JOINING JOINED_6 TABLE AND TYPE
query_7 = """
CREATE TABLE IF NOT EXISTS joined_7 AS
SELECT j6.*, t.AttractionType
FROM joined_6 j6
INNER JOIN type t ON j6.AttractionTypeId = t.AttractionTypeId;
"""

mycursor.execute(query_7)
connection.commit()
print("Step 7: Created table `joined_7` (joined_6 + type)")

Step 7: Created table `joined_7` (joined_6 + type)

In [ ]:
##JOINING JOINED_7 AND MODE TABLE
query_8 = """
CREATE TABLE IF NOT EXISTS final_table AS
SELECT j7.*, m.VisitMode AS VisitModeName
FROM joined_7 j7
INNER JOIN mode m ON j7.VisitMode = m.VisitModeId;
"""

mycursor.execute(query_8)
connection.commit()
print("Step 8: Created table `final_table` (joined_7 + mode) ðŸŽ‰ FINAL STEP!")

Step 8: Created table `final_table` (joined_7 + mode) ðŸŽ‰ FINAL STEP!

In [ ]:
#JOINING ALL TABLE AND CONVERTING IT INTO CSV
query_final = "SELECT * FROM final_table;"
mycursor.execute(query_final)
result_final = mycursor.fetchall()
columns_final = [desc[0] for desc in mycursor.description]

df_final = pd.DataFrame(result_final, columns=columns_final)

In [ ]:
#DISPLAY THE DATAFRAME
df_final.head()

In [ ]:
#SAVING THE CSV FILE
df_final.to_csv("Full Tourism Data.csv",index = False)